.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

aside{
    border-style: outset;
    border-color: green;
    max-width: 300px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;

}
aside::first-line{
    font-weight:bold;
}
input:invalid{
    color:red;
}
input:valid{
    color:green;
}
select{
    min-width: 300px;
    min-height: 200px;
}
body {
    padding-left: 1em;
    padding-right: 1em;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    background-color: #d8da3d
}
section {
    display: block;
}
label {
    color: green;
}
#invalidMsg
{
    color: red;
}
#processMsg{
    color: firebrick;
}
