.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

aside{
    border-style: outset;
    max-width: 300px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;

}
aside::first-line{
    font-weight:bold;
}
input:invalid{
    color:red;
}
input:valid{
    color:green;
}
select{
    min-width: 100%;
    min-height: 200px;
}
body {
    padding-left: 1em;
    padding-right: 1em;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    background: #342fc2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#342fc2, #2ef0ed); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#342fc2, #2ef0ed); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#342fc2, #2ef0ed); /* For Firefox 3.6 to 15 */
    background: linear-gradient(deepskyblue, whitesmoke); /* Standard syntax */
    height: 100%;
}
html{
    height:100%;
}
section {
    display: block;
}
label {
    color: green;
    font-size: 12px;
    font-style: normal;
}
button{
    margin-bottom: 10px;
}
button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
#invalidMsg
{
    color: red;
}
#processMsg{
    color: firebrick;
}
.hint{
    color: forestgreen;
    font-size: 12px;
    font-style: normal;
}

#topSite
{
    border-color: green;
    background-color: lawngreen;
    max-width: 300px;
}

#worseSite
{
    border-color: red;
    background-color: red;
    max-width: 300px;
}